h1,
h2,
h3,
h4,
h5,
p,
ul 
{
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

a { 
  text-decoration: none; 
  text-transform: none;
}

body {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 14px;
  letter-spacing: 0.04em;
  margin: 0 auto;
  
  background-image: url(../images/products/bg-mobile.jpg);
  // background-size: cover;
  background-position: center; 
  background-repeat: repeat;
  background-attachment: fixed;
  // background-position: 50%;

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/bg-mobile@2x.jpg);
  }

  @include tablet {
    background-image: url(../images/products/bg-tablet.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/bg-tablet@2x.jpg);
    }
  }

  @include desktop {
    background-image: url(../images/products/bg-desc.jpg);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/bg-desc@2x.jpg);
    }
  }

}

button {
  margin: 0;
  padding: 0;
  font-family: inherit;
  cursor: pointer;
}