.advantages {
  padding-top: 50px;
  padding-bottom: 32px;
  background-color: var(--color-bg);

  @include tablet {
    padding-top: 60px;
    padding-bottom: 60px;
  }

  @include desktop {
    padding-bottom: 80px;
  }
}

.advantages__container {
  display: flex;
  flex-direction: column;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

.advantages-text {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 28px;

  @include tablet {
    max-width: 616px;
    display: flex;
    flex-direction: row;
    gap: 80px;
  }

  @include desktop {
    max-width: 1173px;
    gap: 37px;
  }
}

.advantages-text__link-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;

  @include tablet {
    width: calc((100% - 160px) / 3);
    gap: 16px;
  }

  @include desktop {
    width: calc((100% - 64px) / 3);
    gap: 0;
  }
}
.advantages-text__advantages-icon {
  position: relative;
  height: 50px;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 16px;
  background-color: var(--color-accent);
  border-radius: 25px;

  &::after {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    height: 36px;
    width: 36px;
    top: 7px;
    left: 7px;
    content: '';
    background-repeat: no-repeat;
    background-size: cover;
    // transform: translate(-50%, -50%);
  }
  &--cow::after {
    background-image: url(../images/advantages/advantages-cow.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages-cow-2x.png);
    }
  }

  &--weight::after {
    background-image: url(../images/advantages/advantages-weight.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages-weight-2x.png);
    }
  }

  &--ice-creama::after {
    background-image: url(../images/advantages/advantages-ice-crema.png);

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/advantages/advantages-ice-crema-2x.png);
    }
  }
  @include tablet {
    margin-bottom: 32px;
  }
  @include desktop {
    margin-bottom: 40px;
  }
}

.advantages__advantages-title {
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: calc(44 / 36);
  text-align: center;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: var(--color-primary);
  margin-bottom: 16px;

  @include tablet {
    text-transform: none;
    font-size: 48px;
    line-height: calc(59 / 48);
    margin-bottom: 12px;
  }

  @include desktop {
    line-height: calc(71 / 58);
    margin-bottom: 12px;
  }
}
.advantages__advantages-subtitle {
  max-width: 230px;
  font-weight: 700;
  font-size: 12px;
  line-height: calc(20 / 12);
  text-align: center;
  letter-spacing: 0.02em;
  color: var(--color-primary);

  @include tablet {
    max-width: 152px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(24 / 14);
  }

  @include desktop {
    max-width: 368px;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(28 / 16);
  }
}
