
// CONTACTS

.contacts {
    max-width: 320px;
    margin: 0 auto;
    background-color: var(--color-bg);

    @include mobile {
        max-width: 480px;
    }

    @include tablet {
        max-width: 768px;
    }
    @include desktop {
        max-width: 1200px;
    }
}

.contacts__list {
    max-width: 280px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 16px;
    background: var(--color-bg);

    @include mobile {
        max-width: 320px;
    }

    @include tablet {
        max-width: 768px;
        flex-direction: row;
    }
    @include desktop {
        gap:32px;
        max-width: 1168px;
    }

}

.contacts__item {
    max-width: 280px;
    padding-left: 32px;
    padding-right: 58px;
    background: var(--color-primary);
    box-shadow: 0px 8px 30px rgba(212, 20, 67, 0.1);
    border-radius: 24px;

    @include tablet {
        max-width: 768px;
        padding-left: 24px;
        padding-right: 27px;
        flex-basis: calc((100% - 32px) / 3);
        }
    @include desktop {
        max-width: 1200px;
        padding-left: 40px;
        flex-basis: calc((100% - 64px) / 3);
    }
}

.contacts__item:nth-child(2) {
    padding-right: 36px;
}

.contacts__institution {
    display: inline-block;
    border-radius: 4px;
    padding: 4 22px;
    margin-top: 40px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.2;
    text-align: center;
    color: var(--color-secondary);
    background-color: var(--color-accent);

    @include tablet {
        padding: 4px 13px;
        font-size: 14px;
        line-height: 1.83;
        }
    @include desktop {
        padding: 4px 14px;
        font-size: 16px;
        line-height: 1.4;
    }
}

.contacts__address {
    padding-top: 20px;
    margin-bottom: 24px;
    max-width: 216px;
    // border-bottom: 1px solid #E1E1E1;
    // margin: 0;
    @include tablet {
        max-width: 176px;
    }
    @include desktop {
        max-width: 288px;
        }
}

.contacts__address-city {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    letter-spacing: 0.04em;
    color: var(--color-secondary);

    @include tablet {
        font-weight: 500;
        font-size: 14px;
        line-height: 1.83;
            }
    @include desktop {
        font-size: 16px;
        line-height: 1.86;
    }
}

.contacts__address-str {
    margin-top: 8px;
    max-width: 212px;
    font-size: 12px;
    line-height: 1.83;
    letter-spacing: 0.04em;
    color: var(--color-address);
    @include tablet {
        max-width: 173px;
        font-weight: 500;
        font-size: 14px;
        line-height: 1.83;
        }
    @include desktop {
        font-size: 16px;
        line-height: 1.83;
        max-width: 288px;
    }
}

.contacts__address-str:hover,
.contacts__address-str:focus {
    text-decoration: underline;
}

.contacts__working-week {
    max-width: 216px;
     @include tablet {
        max-width: 176px;
    }
    @include tablet {
        max-width: 288px;
    }
}

.contacts__working-time {
    // padding-top: 24px;
}

.contacts__working-time::before {
    content: '';
    display: inline-block;
    margin-bottom: 24px;
    width: 216px;
    height: 1px;
    background-color: #E1E1E1;

    @include tablet {
        width: 176px;
    }

    @include desktop {
        width: 288px;
    }
}

.contacts__working-time-weekend {
    padding-top: 8px;
}

.contacts__working-time-weekend::after {
    content: '';
    display: inline-block;
    margin-top: 24px;
    width: 216px;
    height: 1px;
    background-color: #E1E1E1;
    @include tablet {
        width: 176px;
        }
    @include desktop {
        width: 288px;
    }
}

.contacts__working-day {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--color-secondary);
    @include tablet {
        font-size: 14px;
        line-height: 1.86;
    }
    @include desktop {
        font-size: 16px;
        line-height: 1.86;}
}

.contacts__working-hours {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.86;
    color: var(--color-copyright);
    @include tablet {
        font-size: 14px;
    }
    @include desktop {
        font-size: 16px;
    }
}

.contacts__item-connection {
    padding-top: 24px;
    padding-bottom: 24px;
    max-width: 130px;

    @include tablet {
    max-width: 151px;
    }
    @include tablet {
        max-width: 173px;
    }
}

.contacts__item-tel {
    padding-bottom: 6px;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.6;
    color: var(--color-secondary);
    @include tablet {
        font-size: 14px;
        line-height: 1.5;
    }
    @include desktop {
        font-size: 16px;
    }
}

.contacts__item-mail {
    font-weight: 500;
    font-size: 12px;
    line-height: 1.60;
    color: var(--color-secondary);
    @include tablet {
        font-size: 14px;
        line-height: 1.5;
        }
    @include desktop {
        font-size: 16px;
    }
}

.contacts__item-tel:hover,
.contacts__item-tel:focus,
.contacts__item-mail:hover,
.contacts__item-mail:focus {
    color: var(--color-hover);
}


.contacts__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 60px;
    gap: 16px;

    @include tablet {
    flex-direction: row;
    gap: 16px;
    padding-top: 40px;
    pdding-bottom: 40px;
    }
}

.contacts__button-location {
    width: 196px;
    max-width: 196px;
    border: none;
    border-radius: 10px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    color: var(--color-secondary);
    background-color: var(--color-accent);
}

.contacts__button-location:hover {
    background-color: var(--color-hover);
}

.contacts__button-location:focus {
    background-color: var(--color-hover);
    color: #ffffff;
}

.contacts__arrow-right-icon {
    width: 5px;
    height: 10px;
    margin-left: 7px;
    fill: currentColor;
}

.contacts__arrow-right-icon.contacts__button-location:focus {
    fill: #ffffff;
}

.contacts__button-franchise {
    width: 196px;
    max-width: 196px;
    border-radius: 10px;
    border: 2px solid var(--color-accent);
    padding-top: 12px;
    padding-bottom: 12px;
    justify-content: center;
    text-align: center;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.29;
    background-color: var(--color-bg);
    color: #000000;

}

.contacts__button-franchise:hover {
    border-color: var(--color-hover);
}

.contacts__button-franchise:focus {
    border-color: var(--color-hover);
    color: #ffffff;
}
