// .slider {
//     min-width: 0;
//     position: relative;
//     padding: 0px 50px;
//     height: 600px;
//     max-width: 1600px;
//     margin-left: auto;
//     margin-right: auto;
//     background-image: url(../images/customer/bg/desktop.jpg);
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     @media screen and (max-width: 767px) {
//       background-image: url(../images/customer/bg/mobile.jpg);
//       width: 320px;
//       height: 1037px;
//     }
  
//     @media screen and (min-width: 768px) {
//       background-image: url(../images/customer/bg/tablet.jpg);
//       width: 768px;
//       height: 1017px;
//     }
  
//     @media screen and (min-width: 1200px) {
//       background-image: url(../images/customer/bg/desktop.jpg);
//       width: 1330px;
//       height: 1053px;
//     }
//   }
  
//   @media screen and (max-width: 767px) {
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       .hero {
//         background-image: url(../images/customer/bg/mobile@2x.jpg);
//       }
//     }
//   }
  
//   @media screen and (min-width: 768px) {
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       .hero {
//         background-image: url(../images/customer/bg/tablet@2x.jpg);
//       }
//     }
//   }
  
//   @media screen and (min-width: 1200px) {
//     @media screen and (min-device-pixel-ratio: 2),
//       screen and (min-resolution: 192dpi),
//       screen and (min-resolution: 2dppx) {
//       .hero {
//         background-image: url(../images/customer/bg/desktop@2x.jpg);
//       }
//     }
//   }

.slide {
    padding-bottom: 40px;
    @include tablet {
        padding-bottom: 80px;
    }
    @include desktop {
        padding-bottom: 100px;
    }
}


  
  /* Ограничивающая оболочка */
  .slick-list {
    overflow: hidden;
  }
  /* Лента слайдов */
  .slick-track {
    display: flex;
    align-items: flex-start;
  }
  
  /* Стрелка */
  .slick-arrow {
    position: absolute;
    top: 50%;
    z-index: 10;
    font-size: 0;
    overflow: hidden;
    opacity: 0;
  }
  /* Стрелка влево */
  .slick-arrow.slick-prev {
    left: 0;
  }
  /* Стрелка вправо */
  .slick-arrow.slick-next {
    right: 0;
  }
  
  /* Точки (булиты) */
  .slick-dots {
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .slick-dots li {
    list-style: none;
    margin-right: 10px;
  }
  .slick-dots li:nth-child(3n) {
    margin-right: 0;
  }
  /* Активная точка */
  .slick-dots li.slick-active button {
    background-color: #84a178;
    //   border: 1px solid #fff;
  }
  
  /* Элемент точки */
  .slick-dots li button {
    font-size: 0;
    width: 12px;
    height: 12px;
    background: #d9d9d9;
    border-radius: 50%;
    border-color: transparent;
  }
  
  .slider_item {
    text-align: center;
    padding: 0px 15px;
    // @media screen and (min-width: 480px) {
    //   margin-top: 178px;
    // }
    // @media screen and (min-width: 768px) {
    //   margin-top: 283px;
    // }
    // @media screen and (min-width: 1200px) {
    //   margin-top: 464px;
    // }
  }


  .slider_img {
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 32px;
    border-radius: 50%;
  }
  .slider_text {
    background: #84a178;
    border-radius: 10px;
    font-family: "Montserrat";
    font-style: normal;
    text-align: center;
    justify-content: center;
    color: #fcfcfc;
    margin-bottom: 32px;
    margin-left: auto;
    margin-right: auto;
    @media screen and (min-width: 480px) {
      padding: 35px 39px;
      font-weight: 400;
      font-size: 12px;
      line-height: 2.58;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 768px) {
      padding: 43px 109px;
      font-weight: 500;
      font-size: 14px;
      line-height: 1.857;
      letter-spacing: 0.04em;
    }
    @media screen and (min-width: 1200px) {
      width: 938px;
  
      font-weight: 500;
      font-size: 16px;
      line-height: 1.875;
      letter-spacing: 0.04em;
    }
  }
  
  .slider_title {
    font-style: normal;
  
    text-align: center;
  
    color: #131313;
    margin-bottom: 32px;
  
    @media screen and (max-width: 767px) {
      margin-bottom: 12px;
      font-weight: 500;
      font-size: 20px;
      line-height: 1.85;
    }
  
    @media screen and (min-width: 768px) {
      font-weight: 500;
      font-size: 16px;
      line-height: 1.875;
    }
  }
  