.container-product {
  padding-top: 60px;
  padding-bottom: 60px;
}

.label-title {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 800;
  font-size: 18px;
  text-transform: uppercase;
  line-height: 1.22;
  display: block;
  text-align: center;
  color: #131313;

  @include tablet {
    font-size: 22px;
    line-height: 1.23;
  }

  @include desktop {
    font-size: 30px;
  }
}

.title {
  font-family: var(--secondary-font);
  margin-top: 12px;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 1.26;
  text-align: center;
  text-transform: uppercase;
  color: #131313;

  @include tablet {
    font-size: 34px;
    line-height: 1.26;
  }

  @include desktop {
    font-size: 36px;
    line-height: 1.26;
  }
}

.products {
  padding: 0px;
  list-style: none;
  margin-left: auto;
  margin-right: auto;
  margin-top: 148px;



  @media screen and (max-width: 767px) {
    max-width: 280px;
  }

  @media screen and (min-width: 768px) {
    display: flex;
    gap: 16px;
    flex-wrap: nowrap;
    margin-top: 200px;
  }

  @media screen and (min-width: 1200px) {
    gap: 29px;
    flex-wrap: nowrap;
    margin-top: 303px;
  }
}

.products li:not(:last-child)  {

  @media screen and (max-width: 767px) {
    margin-bottom: 168px;

  }
}

.products__list {
  text-align: center;
  border-radius: 24px;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 48px) / 3);
  }

  @media screen and (min-width: 1200px) {
    flex-basis: calc((100% - 87px) / 3);
  }
}

// .products__list:hover::before, .products__list:focus::before {
//   transform: scale(1.2);
//   left: 40px;

//   @include tablet {
//     transform: scale(1.1);
//     left: 9px;
//   }
//   @include desktop {
//     transform: scale(1.2);
//     left: 25px;
//   }
// }

// .products__list:hover::after, .products__list:focus::after {
//   transform: scale(1.2);
//   left: 40px;

//   @include tablet {
//     transform: scale(1.2);
//     left: 9px;
//   }
//   @include desktop {
//     transform: scale(1.2);
//     left: 25px;
//   }
// }

.cream::before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  background: linear-gradient(
      0deg,
      rgba(156, 190, 143, 0.7),
      rgba(156, 190, 143, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

  position: absolute;
  top: -100px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -200px;
  }
}

.cream::after {
  background-image: url(../images/products/first-ice.png);
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: contain;
  top: -110px;
  left: 50%;
  transform: translate(-50%);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/first-ice@2x.png);
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/first-ice-desc.png);
    width: 302px;
    height: 302px;
    top: -220px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/first-ice-desc@2x.png);
    }
  }
}

.cream {
  text-align: center;
  position: relative;
  background-color: #aec6a5;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 420px;
  }

  @media screen and (min-width: 768px) {
    height: 428px;
  }

  @media screen and (min-width: 1200px) {
    height: 536px;
    // margin-top: 260px;
  }
}

.products__title {
  font-family: var(--main-font);
  font-style: normal;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.04em;
  

  @media screen and (max-width: 767px) {
    // margin-top: -80px;
    
  }

  @media screen and (min-width: 1200px) {
    font-size: 36px;
    line-height: 1.22;
  }
}

.products__text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.76;
  text-align: center;
  letter-spacing: 0.04em;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 40px;
  margin-bottom: 0px;

  @media screen and (min-width: 1200px) {
    font-size: 16px;
    line-height: 1.75;
    padding-left: 60px;
    padding-right: 60px;
    margin-top: 66px;
  }
}

.products__button {
  background-color: transparent;
  border: none;

  cursor: $cursor;

  @media screen and (max-width: 767px) {
    left: 120px;
    position: absolute;
    bottom: 16px;
  }

  @media screen and (min-width: 768px) {
    justify-content: center;
    display: flex;
    padding: 20px 30px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 70px;
  }
}

.coffee {
  align-items: center;
  position: relative;
  background-color: #efd478;
  // margin-bottom: 168px;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 420px;
  }

  @media screen and (min-width: 768px) {
    height: 428px;
  }

  @media screen and (min-width: 1200px) {
    height: 536px;
    // margin-top: 260px;
  }
}

.coffee::before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  background: linear-gradient(
      0deg,
      rgba(248, 210, 78, 0.7),
      rgba(248, 210, 78, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.40397px 20.2649px rgba(153, 114, 23, 0.25);

  position: absolute;
  top: -96px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 768px) {
    top: -100px;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -200px;
  }
}

.coffee::after {
  background-image: url(../images/products/ice-coffee.png);
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: contain;
  top: -107px;
  left: 50%;
  transform: translate(-50%);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/ice-coffe@2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -110px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/ice-coffe-desc.jpg);
    width: 302px;
    height: 302px;
    top: -220px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/ice-coffe-desc@2x.jpg);
    }
  }
}

.milkshake {
  align-items: center;
  background-color: #d6936d;
  position: relative;

  @media screen and (max-width: 767px) {
    width: 280px;
    height: 420px;
  }

  @media screen and (min-width: 768px) {
    height: 428px;
  }

  @media screen and (min-width: 1200px) {
    height: 536px;
    // margin-top: 260px;
  }
}

.milkshake::before {
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;

  background: linear-gradient(
      0deg,
      rgba(213, 117, 63, 0.7),
      rgba(213, 117, 63, 0.7)
    ),
    #d9d9d9;
  box-shadow: 0px 5.41333px 20.3px rgba(0, 0, 0, 0.25);
  position: absolute;
  top: -96px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 768px) {
    top: -100px;
  }

  @media screen and (min-width: 1200px) {
    width: 302px;
    height: 302px;
    top: -200px;
  }
}

.milkshake::after {
  background-image: url(../images/products/milkshake.png);
  position: absolute;
  content: '';
  display: block;
  border-radius: 50%;
  width: 200px;
  height: 200px;
  background-size: contain;
  top: -108px;
  left: 50%;
  transform: translate(-50%);

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/products/milkshake@2x.png);
  }

  @media screen and (min-width: 768px) {
    top: -110px;
  }

  @media screen and (min-width: 1200px) {
    background-image: url(../images/products/milkshake-desc.jpg);
    width: 302px;
    height: 302px;
    top: -220px;

    @media (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url(../images/products/milkshake-desc@2x.jpg);
    }
  }
}

.product__icon {
  display: block;
  width: 40px;
  height: 16px;
  fill: var(--color-secondary);
  cursor: $cursor;
  position: absolute;
  bottom: 16px;
  left: 50%;
  transform: translate(-50%);

  @media screen and (min-width: 1200px) {
    bottom: 60px;
  }
}

.product__items {
  display: flex;
  flex-direction: column;
  align-items: center;

  @media screen and (max-width: 767px) {
    padding-top: 123px;
  }

  @include tablet {
    padding-top: 108px;
  }

  @include desktop {
    padding-top: 165px;
  }
}
