
@import './utils/common';
@import './utils/mixins';
@import './utils/container';
@import './base/reset';
@import './utils/variables';
@import './utils/breakpoints';
@import './utils/placeholder';
@import './utils/vis-hidden';
@import './modals/about-modal.scss';
@import './modals/franchise-modal.scss';
@import './modals/locations-modal.scss';
@import './modals/more-modal.scss';
@import './modals/now-modal.scss';
@import './about';
@import './advantages';
@import './contacts';
@import './customers';
@import './footer';
@import './gallery';
@import './header';
@import './hero';
@import './products';
