@import '~node_modules/modern-normalize/modern-normalize.css';

.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgb(0, 0, 0, 0.2);
  z-index: 20;

  transition: opacity var(--transition-duration) var(--cubic-bezier),
    visibility var(--transition-duration) var(--cubic-bezier);
}

.modal {
  opacity: 0;
  visibility: hidden;
  position: relative;

  min-width: 280px;

  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 30;

  background: #fcfcfc;
  border: 2px solid var(--color-accent);
  border-radius: 10px;
  text-align: center;

  & .modal-btn-close {
    position: absolute;
    top: 12px;
    right: 12px;
    border: none;
    background-color: transparent;
  }
}

.modal.active,
.overlay.active {
  opacity: 1;
  visibility: visible;
}
