// Place holder Butn

%button {
  display: flex;
  align-items: center;
  padding: 12px 35px;
  margin-left: 32px;
  font-weight: 600;
  font-size: 14px;
  line-height: calc(17 / 14);
  color: #000000;
  background-color: #f8d24e;
  border: none;
  border-radius: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s,
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1) 0s;
  & .arrow-right-icon {
    margin-left: 4px;
  }
  &:hover {
    background-color: #0a8817;
  }
  &:focus,
  & .arrow-right-icon:focus {
    color: #ffffff;
    fill: currentColor;
    background-color: #0a8817;
    outline: none;
  }
}
