:root {
  --main-font: 'Montserrat', sans-serif;

  --color-primary: #FCFCFC;
  --color-secondary: #131313;
  --color-accent: #F8D24E;
  --color-address: #D6936D;
  --color-copyright: #ABABAB;

  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
    --transition-duration: 250ms;
}



