:root {
  --main-font: 'Montserrat', sans-serif;
  --secondary-font: 'Seymour One', sans-serif;

  --color-primary: #fcfcfc;
  --color-secondary: #131313;
  --color-accent: #f8d24e;
  --color-address: #d6936d;
  --color-copyright: #ababab;
  --color-bg: #84a178;
  --color-hover: #0a8817;
  --cubic-bezier: cubic-bezier(0.4, 0, 0.2, 1);
  --transition-duration: 250ms;

}

$cursor: url("../images/cursor-pointer.svg"), auto;
