// Модальное окно - Buy now modal - Kostiantyn Koshyk
.buynow {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: auto;

  @include tablet {
    height: auto;
    padding: 32px 54px;
  }

  & .buynow-title {
    // padding-top: 28px;
    margin-bottom: 83px;

    font-family: var(--secondary-font);
    font-weight: 400;
    font-size: 16px;
    line-height: calc(24 / 16);

    @include tablet {
      // display: none;
      margin-bottom: 103px;
            font-size: 20px;
      line-height: 28px;

    }
  }

  .checkbox-list {
    display: flex;
    flex-direction: column;
    gap: 82px;
    margin-bottom: 32px;

    @include tablet {
      flex-direction: row;
      gap: 32px;
    }
    // @include desktop {
    // gap: 32px;
    // }
  }

  .checkbox-label {
    display: flex;
    position: relative;
    width: 132px;
    margin: 0 auto;
  }

  .checkbox {
    appearance: none;
    position: absolute;
  }

  .checkbox:checked + .checkbox-img {
    background-color: #96af8c;
  }

  .checkbox:checked + .ice-coffee {
    background-color: #efd478;
  }

  .checkbox:checked + .mkshake {
    background-color: #d6936d;
  }

  .checkbox-img {
    width: 132px;
    height: 135px;
    padding-top: 96px;
    // margin-bottom: 20px;
    font-size: 16px;
    font-weight: 700;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--color-secondary);

    border: 2px solid #96af8c;
    border-top-width: 0;

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    // border-radius: 15px;
    box-shadow: (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));

    &::before {
      content: '';
      display: block;
      width: 132px;
      height: 132px;
      border-radius: 50%;

      background: linear-gradient(
          0deg,
          rgba(156, 190, 143, 0.7),
          rgba(156, 190, 143, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

      position: absolute;
      top: -45%;
      left: 50%;
      transform: translate(-50%);
    }

    &::after {
      content: '';
      position: absolute;
      top: -50%;
      left: 50%;
      display: block;
      width: 132px;
      height: 132px;

      border-radius: 50%;

      background-size: contain;
      transform: translate(-50%);

      background-image: url('../images/modals/modals/buy-now/buy-now1.png');

      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/modals/modals/buy-now/buy-now1@2x.png');
      }
    }
  }
  
  .ice-coffee {
    border-color: #efd478;
    &::before {
      background: linear-gradient(
          0deg,
          rgba(248, 210, 78, 0.7),
          rgba(248, 210, 78, 0.7)
        ),
        #d9d9d9;
      box-shadow: 0px 5.34219px 20.0332px rgba(153, 114, 23, 0.25);
    }
    &::after {
      background-image: url('../images/modals/modals/buy-now/buy-now2.png');
      @media screen and (min-device-pixel-ratio: 2),
        (min-resolution: 192dpi),
        (min-resolution: 2dppx) {
        background-image: url('../images/modals/modals/buy-now/buy-now2@2x.png');
      }
    }
  }

  .mkshake {
    border-color: #d6936d;
    &::before {
      background: linear-gradient(
        0deg,
        rgba(213, 117, 63, 0.7),
        rgba(213, 117, 63, 0.7)
      ),
      #d9d9d9;
    box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
    }

    &::after {
      background-image: url('../images/modals/modals/buy-now/buy-now3.png');
    @media screen and (min-device-pixel-ratio: 2),
      (min-resolution: 192dpi),
      (min-resolution: 2dppx) {
      background-image: url('../images/modals/modals/buy-now/buy-now3@2x.png');
    }
    }
  }

  // & .buynow-list {
  //   display: flex;
  //   flex-direction: column;
  //   gap: 82px;

  //   margin: 0 auto;
  //   margin-bottom: 32px;
  //   padding-left: 74px;
  //   padding-right: 74px;

  //   @include tablet {
  //     flex-direction: row;
  //     gap: 32px;
  //     padding-top: 163px;
  //     padding-left: 54px;
  //     padding-right: 54px;
  //     margin-bottom: 40px;
  //   }
  // }

  // & .buynow-item {
  //   position: relative;

  //   display: flex;
  //   flex-direction: column;
  //   justify-content: end;

  //   width: 132px;
  //   height: 135px;

  //   border: 2px solid #96af8c;
  //   border-top-width: 0;

  //   border-bottom-left-radius: 15px;
  //   border-bottom-right-radius: 15px;
  //   // border-radius: 15px;
  //   box-shadow: (0px 5.26027px 19.726px rgba(212, 20, 67, 0.1));
  //   transition: background-color 500ms var(--cubic-bezier);

  //   &.buynow-item:hover, &.buynow-item:focus {
  //     background-color: #96af8c;
  //   }

  //   &::before {
  //     content: '';
  //     display: block;
  //     width: 132px;
  //     height: 132px;
  //     border-radius: 50%;

  //     background: linear-gradient(
  //         0deg,
  //         rgba(156, 190, 143, 0.7),
  //         rgba(156, 190, 143, 0.7)
  //       ),
  //       #d9d9d9;
  //     box-shadow: 0px 5.34219px 20.0332px rgba(10, 136, 23, 0.25);

  //     position: absolute;
  //     top: -45%;
  //     left: 50%;
  //     transform: translate(-50%);
  //   }

  //   &::after {
  //     content: '';
  //     position: absolute;
  //     top: -50%;
  //     left: 50%;
  //     display: block;
  //     width: 132px;
  //     height: 132px;

  //     border-radius: 50%;

  //     background-size: contain;
  //     transform: translate(-50%);

  //     background-image: url('../images/modals/modals/buy-now/buy-now1.png');

  //     @media screen and (min-device-pixel-ratio: 2),
  //       (min-resolution: 192dpi),
  //       (min-resolution: 2dppx) {
  //       background-image: url('../images/modals/modals/buy-now/buy-now1@2x.png');
  //     }
  //   }

  //   &:nth-child(2) {
  //     // background-color: #efd478;
  //     border-color: #efd478;
  //     transition: background-color 500ms var(--cubic-bezier);
  //   }

  //   &:nth-child(2):hover, &:nth-child(2):focus {
  //     background-color: #efd478;
  //   }

  //   &:nth-child(2)::before {
  //     background: linear-gradient(
  //         0deg,
  //         rgba(248, 210, 78, 0.7),
  //         rgba(248, 210, 78, 0.7)
  //       ),
  //       #d9d9d9;
  //     box-shadow: 0px 5.34219px 20.0332px rgba(153, 114, 23, 0.25);
  //   }

  //   &:nth-child(2)::after {
  //     background-image: url('../images/modals/modals/buy-now/buy-now2.png');
  //     @media screen and (min-device-pixel-ratio: 2),
  //       (min-resolution: 192dpi),
  //       (min-resolution: 2dppx) {
  //       background-image: url('../images/modals/modals/buy-now/buy-now2@2x.png');
  //     }
  //   }

  //   &:nth-child(3) {
  //     // background-color: #efd478;
  //     border-color: #d6936d;
  //     transition: background-color 500ms var(--cubic-bezier);
  //   }

  //   &:nth-child(3):hover, &:nth-child(3):focus {
  //     background-color: #d6936d;
  //   }

  //   &:nth-child(3)::before {
  //     background: linear-gradient(
  //         0deg,
  //         rgba(213, 117, 63, 0.7),
  //         rgba(213, 117, 63, 0.7)
  //       ),
  //       #d9d9d9;
  //     box-shadow: 0px 5.26027px 19.726px rgba(0, 0, 0, 0.25);
  //   }

  //   &:nth-child(3)::after {
  //     background-image: url('../images/modals/modals/buy-now/buy-now3.png');
  //     @media screen and (min-device-pixel-ratio: 2),
  //       (min-resolution: 192dpi),
  //       (min-resolution: 2dppx) {
  //       background-image: url('../images/modals/modals/buy-now/buy-now3@2x.png');
  //     }
  //   }
  // }

  & .item-title {
    margin-bottom: 20px;

    font-size: 16px;
    line-height: calc(20 / 16);
    text-align: center;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--color-secondary);
  }

  & .buynow-form {
    display: flex;
    flex-direction: column;
    align-items: center;
    // padding-bottom: 29px;
    padding-left: 28px;
    padding-right: 28px;

    // @include tablet {
    //   padding-bottom: 32px;
    // }

    & .form__textarea {
      margin-bottom: 26px;

      @include tablet {
        margin-bottom: 32px;
      }
    }
  }

  & .form__input:not(:focus):not(:placeholder-shown):valid {
    background-color: rgba(0, 128, 0, 0.276);
  }
  & .form__input:not(:focus):not(:placeholder-shown):invalid {
    background-color: rgba(128, 0, 0, 0.276);
  }
}

