.modal--more-modal {
  padding: 28px;
  @include tablet {
    padding: 32px 60px;
  }
}

.modal__title--more-modal {
  margin-bottom: 20px;
  font-family: var(--secondary-font);
  font-size: 16px;
  line-height: 1.5;
  @include tablet {
    font-size: 20px;
    line-height: 1.4;
    margin-bottom: 32px;
  }
}

.modal__video {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 20px;
  @include tablet {
    width: 448px;
    height: 205px;
    margin-bottom: 32px;
  }
}

.modal__text {
  line-height: 1.4;
  text-align: left;
}
