<div class="backdrop is-hidden">
  <div class="modal modal--more-modal">
    <div class="modal__icon-wrap">
      <svg class="modal__icon" width="20" height="20">
        <use href="./images/svg-sprite.svg#icon-modal-close"></use>
      </svg>
    </div>
    <p class="modal__title modal__title--more-modal">How it’s made?</p>
    <iframe
      width="224"
      class="modal__video"
      scrolling="yes"
      src="https://www.youtube-nocookie.com/embed/JM9VFGXXoVg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
</div>
