<div class="modal modal--more-modal" data-modal="5">
    <div class="modal__icon-wrap">
      <button class="modal-btn-close js-modal-close" type="button">
        <svg width="20" height="20">
          <use href="./images/svg-sprite.svg#icon-modal-close"></use>
        </svg>
      </button>
    </div>
    <p class="modal__title modal__title--more-modal">How it’s made?</p>
    <iframe
      width="224"
      class="modal__video"
      scrolling="yes"
      src="https://www.youtube-nocookie.com/embed/JM9VFGXXoVg"
      title="YouTube video player"
      frameborder="0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <p class="modal__text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
  </div>
