<!-- Модальное окно - Buy now modal - Kostiantyn Koshyk -->
<section class="container">
  <!-- Modal Buy now -->
  <div class="modal buynow" data-modal="1">
    <!--   Кнопка закрытия окна - НЕ МЕНЯТЬ!!! -->
    <button class="modal-btn-close js-modal-close" type="button">
      <svg width="20" height="20">
        <use href="./images/svg-sprite.svg#icon-modal-close"></use>
      </svg>
    </button>

    <h2 class="buynow-title">Buy now</h2>
    <ul class="buynow-list">
      <li class="buynow-item">
        <h3 class="item-title">ice cream</h3>
      </li>

      <li class="buynow-item">
        <h3 class="item-title">ice coffee</h3>
      </li>

      <li class="buynow-item">
        <h3 class="item-title">milkshake</h3>
      </li>
    </ul>
    <div class="ice-cream"></div>
  </div>

  <!-- Оставить в паршиле now-modal.html -->
  <!-- Подложка под модальным окном должна быть внизу!!! -->
  <div class="overlay js-overlay-modal"></div>
</section>
