<section class="about" id="about">
    <div class="container">
      <p class="about__label">tradition and love</p>
      <h2 class="about__title">how it’s made?</h2>
      <div class="about-wrapper">
        <div class="about__bg-img"></div>
        <div class="about__wrap-text">
          <ul class="about__list">
            <li class="about__item">
              <p class="about__text">
                Ice is a place where you will become not only a little happier, but also healthier. Health
                is the main value for us, and we follow it when creating our handmade desserts.
              </p>
            </li>
            <li class="about__item">
              <p class="about__text about__text-second">
                We use traditional recipes and 100% natural ingredients. Our products are so natural that
                they can be given to children from the age of three years. Sweets lovers can expect 55
                types of ice cream, 15 types of coffee and 23 milkshakes.
              </p>
            </li>
            <li class="about__item">
              <p class="about__text about__text-third">This is enough to choose ice cream and 
                coffee for any mood!</p>
            </li>
          </ul> 
            <button class="about__button js-open-modal" type="button" data-modal="5">Read more
              <svg class="about__button-icon" width="12" height="12">
                <use href="./images/svg-sprite.svg#arrow-right-icon"></use>
              </svg>
            </button>
        </div>
      </div>
    </div>
  </section>