<section class="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden" hidden>Advantages</h2>
    <ul class="advantages-text">
      <li class="advantages-text__link-item">
        <div class="advantages-text__advantages-icon advantages-text__advantages-icon--cow"></div>
        <h3 class="advantages__advantages-title">721</h3>
        <p class="advantages__advantages-subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-text__link-item">
        <div class="advantages-text__advantages-icon advantages-text__advantages-icon--weight"></div>
        <h3 class="advantages__advantages-title">16kg</h3>
        <p class="advantages__advantages-subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-text__link-item">
        <div class="advantages-text__advantages-icon advantages-text__advantages-icon--ice-creama"></div>
        <h3 class="advantages__advantages-title">84</h3>
        <p class="advantages__advantages-subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
