<section class="advantages">
  <div class="container advantages__container">
    <h2 class="visually-hidden" hidden>Advantages</h2>
    <ul class="advantages-text">
      <li class="advantages-text__link-item">
        <div class="advantages-text__advantages-icon">
          <svg class="icon-cow" width="50" height="50">
            <use href="./images/svg-sprite.svg#icon-cow"></use>
          </svg>
        </div>
        <h3 class="advantages__advantages-title">721</h3>
        <p class="advantages__advantages-subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-text__link-item">
        <div class="advantages-text__advantages-icon">
          <svg class="icon-weight" width="50" height="50">
            <use href="./images/svg-sprite.svg#icon-weight"></use>
          </svg>
        </div>
        <h3 class="advantages__advantages-title">16kg</h3>
        <p class="advantages__advantages-subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
      <li class="advantages-text__link-item">
        <div class="advantages-text__advantages-icon">
          <svg class="icon-solo-ice-cream" width="50" height="50">
            <use href="./images/svg-sprite.svg#icon-solo-ice-cream"></use>
          </svg>
        </div>
        <h3 class="advantages__advantages-title">84</h3>
        <p class="advantages__advantages-subtitle">
          Aliquam ac dui vel dui vulputate consectetur. Mauris massa.
        </p>
      </li>
    </ul>
  </div>
</section>
