<section id="contacts" class="contacts section">
  <div class="container">
    <h2 class="visually-hidden">Адреси представництв</h2>
    <ul class="contacts__list">
      <li class="contacts__item">
        <div class="contacts__institution">CAFE</div>
        <div class="contacts__address">
          <p class="contacts__address-city">Chicago</p>
          <a
            class="contacts__address-str"
            href="https://goo.gl/maps/rT2zibzhaNW9o4Dt6"
            target="_blank"
            rel="noopener noreferrer"
          >
            10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA
          </a>
        </div>
        <div class="contacts__working-week">
          <div class="contacts__working-time">
            <p class="contacts__working-day">Monday - Friday</p>
            <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__working-time-weekend">
            <p class="contacts__working-day">Saturday - Sunday</p>
            <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>

        <div class="contacts__item-connection">
          <a class="contacts__item-tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__item-mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__institution">FOODTRUCK</div>
        <div class="contacts__address">
          <p class="contacts__address-city">Los Angeles</p>
          <a
            class="contacts__address-str"
            href="https://goo.gl/maps/LReqjsyyreRna5mU8"
            target="_blank"
            rel="noopener noreferrer"
          >
            1003 Manhattan Ave, Manhattan Beach, CA 90263, USA
          </a>
        </div>
        <div class="contacts__working-week">
          <div class="contacts__working-time">
            <p class="contacts__working-day">Monday - Friday</p>
            <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__working-time-weekend">
            <p class="contacts__working-day">Saturday - Sunday</p>
            <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts__item-connection">
          <a class="contacts__item-tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__item-mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts__item">
        <div class="contacts__institution">CAFE</div>
        <div class="contacts__address">
          <p class="contacts__address-city">New York</p>
          <a
            class="contacts__address-str"
            href="https://goo.gl/maps/Axmeej4GfhdL36Lr8"
            target="_blank"
            rel="noopener noreferrer"
          >
            726 Sterling Pl, Brooklyn, NY 11222, USA
          </a>
        </div>
        <div class="contacts__working-week">
          <div class="contacts__working-time">
            <p class="contacts__working-day">Monday - Friday</p>
            <p class="contacts__working-hours">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts__working-time-weekend">
            <p class="contacts__working-day">Saturday - Sunday</p>
            <p class="contacts__working-hours">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts__item-connection">
          <a class="contacts__item-tel" href="tel:+610383766284"
            >+61(0) 383 766 284</a
          >
          <a href="mailto:noreply@envato.com" class="contacts__item-mail"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <ul class="contacts__buttons">
      <li>
        <button class="contacts__button-location" type="button">
          Our Locations
          <span>
            <svg class="contacts__arrow-right-icon" width="5" height="10">
              <use
                href="./images/svg-sprite.svg#arrow-right-icon"
                width="5"
                height="10"
              ></use>
            </svg>
          </span>
        </button>
      </li>
      <li>
        <button class="contacts__button-franchise" type="button">
          Franchise
          <span>
            <svg class="contacts__arrow-right-icon" width="5" height="10">
              <use
                href="./images/svg-sprite.svg#arrow-right-icon"
                width="5"
                height="10"
              ></use>
            </svg>
          </span>
        </button>
      </li>
    </ul>
  </div>
</section>
