<section class="container slide"> 
    <!-- slider (tipo class) -->

    <div class="autoplay-customers">
      <div class="slider_item">
        <img class="slider_img" src="./images/customer/foto/emily.jpg" alt="emily" />
        <p class="slider_text">
          I love visiting your cafe. You prepare the most delicious ice cream
          in Los Angeles! In addition, you have beautiful serving, cozy
          atmosphere and polite staff.
        </p>
        <p class="slider_title">Emily, Los Angeles</p>
      </div>
      <div class="slider_item">
        <img class="slider_img" src="./images/customer/foto/bryan.jpg" alt="bryan" />
        <p class="slider_text">
          Every day we come to you with friends after classes in college. We
          love your ice cream and casual atmosphere!
        </p>
        <p class="slider_title">Bryan, New-York</p>
      </div>
      <div class="slider_item">
        <img class="slider_img" src="./images/customer/foto/diana.jpg" alt="diana" />
        <p class="slider_text">
          Ice cream is my passion! I love your chocolate hazelnut ice cream!
          And I really like the excellent service - always served politely and
          quickly!
        </p>
        <p class="slider_title">Diana, Chicago</p>
      </div>
    </div>
  </section>
  <script src="https://code.jquery.com/jquery-3.6.3.min.js"></script>
  <script src="js/slick.js"></script>

