<section class="footer footer-top">
    <div class="footer-wrap container">
        <div class="footer-title">
            <span class="footer-title__text footer-title__text--small">HOMEMADE ICE CREAM MADE</span>
            <span class="footer-title__text footer-title__text--large">WITH PASSION</span>
        </div>
        <div class="footer-contacts">
            <ul class="soc-list">
                <li class="soc-list__item">
                    <a class="soc-list__link" href="#" target="_blank" rel="noopener noreferrer">
                        <svg width="34" height="34">
                            <use href="./images/svg-sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-list__item">
                    <a class="soc-list__link" href="#" target="_blank" rel="noopener noreferrer">
                        <svg width="34" height="34">
                            <use href="./images/svg-sprite.svg#icon-telegram"></use>
                        </svg>
                    </a>
                </li>
                <li class="soc-list__item">
                    <a class="soc-list__link" href="#" target="_blank" rel="noopener noreferrer">
                        <svg width="34" height="34">
                            <use href="./images/svg-sprite.svg#icon-facebook"></use>
                        </svg>
                    </a>
                </li>
            </ul>
            <div class="footer-tel">
                <span class="footer-tel--text">
                    Feel free to contact
                </span>
                <a class="footer-tel--number" href="tel:+610383766284"> +61 (0) 383 766 284
                </a>
            </div>
        </div>

    </div>
</section>
<section class="footer">
    <div class="footer-wrap container">
        <div class="footer-copyright">
            <span class="footer-copyright-text">
                &copy; 2022 - IceCream. All Rights Reserved.
            </span>
        </div>
    </div>
</section>