<header>
  <div class="container header">
    <a class="logo link" href="">
      <img
        class="image"
        srcset="
          ./images/header/Logo.png    1x,
          ./images/header/Logo@2x.png 2x,
          ./images/header/Logo@3x.png 3x
        "
        src="./images/header/Logo.png"
        alt="Company logo image"
      />
    </a>

    <nav class="site-nav">
      <button class="mobile-burger-btn js-open-menu" type="button">
        <svg width="32" height="32">
          <use
            class="icon-burger-menu"
            href="./images/svg-sprite.svg#icon-burger-menu"
          ></use>
        </svg>
      </button>

      <div class="mobile-menu-container js-menu-container">
        <div class="menu-wrap">
          <a class="logo link" href="">
            <img
              class="image"
              srcset="
                ./images/header/Logo.png    1x,
                ./images/header/Logo@2x.png 2x,
                ./images/header/Logo@3x.png 3x
              "
              src="./images/header/Logo.png"
              alt="Company logo image"
            />
          </a>

          <button
            class="mobile-burger-btn mobile-close-btn js-close-menu"
            type="button"
          >
            <svg width="32" height="32">
              <use
                class="icon-burger-menu"
                href="./images/svg-sprite.svg#icon-modal-close"
              ></use>
            </svg>
          </button>
        </div>

        <ul class="mobile-list list">
          <li class="mobile-item"><a class="link" href="">Home</a></li>
          <li class="mobile-item">
            <a class="link" href="">How it’s made?</a>
          </li>
          <li class="mobile-item">
            <a class="link" href="">Our products</a>
          </li>
          <li class="mobile-item"><a class="link" href="">Contact</a></li>
          <li class="mobile-item">
            <a class="link" href="">
              <button class="mobile-btn" type="button">
                Buy now
                <svg class="arrow-right-icon" width="12" height="12">
                  <use href="./images/svg-sprite.svg#arrow-right-icon"></use>
                </svg>
              </button>
            </a>
          </li>
        </ul>
      </div>

      <!-- desktop menu -->
      <ul class="desktop-menu list">
        <li><a class="desktop-link link" href="">Home</a></li>
        <li><a class="desktop-link link" href="">How it’s made?</a></li>
        <li><a class="desktop-link link" href="">Our products</a></li>
        <li><a class="desktop-link link" href="">Contact</a></li>
      </ul>
    </nav>

    <button class="desktop-btn" type="button">
      Buy now
      <svg class="arrow-right-icon" width="12" height="12">
        <use href="./images/svg-sprite.svg#arrow-right-icon"></use>
      </svg>
    </button>
  </div>
</header>
