<section class="section" id="products">
  <div class="container-product container">
    <p class="label-title">100% NATURAL</p>
    <h2 class="title">Products</h2>
    <ul class="products">
      <li class="products__list cream">
        <div class="product__items">
          <h3 class="products__title">ICE CREAM</h3>
          <p class="products__text">
            Soft ice cream with a delicate taste. Made with milk, cream, sugar
            and natural stabilizer
          </p>

          <svg class="product__icon js-open-modal" data-modal="2">
            <use href="/src/images/svg-sprite.svg#icon-Arrow"></use>
          </svg>
        </div>
      </li>
      <li class="products__list coffee">
        <div class="product__items">
          <div>
            <h3 class="products__title">ICE COFFEE</h3>
            <p class="products__text">
              Fragrant invigorating drink created from 100% natural ingredients
              without the use of preservatives and flavor enhancers
            </p>
          </div>
          <div>
            <svg class="product__icon js-open-modal" data-modal="2">
              <use href="/src/images/svg-sprite.svg#icon-Arrow"></use>
            </svg>
          </div>
        </div>
      </li>

      <li class="products__list milkshake">
        <div class="product__items">
          <h3 class="products__title">MILKSHAKES</h3>
          <p class="products__text">
            Sweet drinks based on milk and ice cream, supplemented with syrups,
            fruits, berries and other sweets of your choice
          </p>

          <svg class="product__icon js-open-modal" data-modal="2">
            <use href="/src/images/svg-sprite.svg#icon-Arrow"></use>
          </svg>
        </div>
      </li>
    </ul>
  </div>
</section>
